doctype html
head
  title Info Gatherer - Kubernetes
style.
  h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
  }
  table{
  width:100%;
  table-layout: fixed;
  }
  .tbl-header{
  background-color: rgba(255,255,255,0.3);
  }
  .tbl-content{
  height:500px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
  }
  th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  }
  td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
  }
  /* demo styles */
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
  body{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
  }
  section{
  margin: 50px 150px 50px 150px;
  }
  a{
  text-decoration:none;
  }

  /* for custom scrollbar for webkit browser*/
  ::-webkit-scrollbar {
  width: 6px;
  }
  ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  ::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }

section
  // for demo wrap
  h1 INFO-GATHERER-POD
  .tbl-header
    table(cellpadding='0' cellspacing='0' border='0')
      thead
        tr
          th RESOURCE
          th VALUE

  .tbl-content
    table(cellpadding='0' cellspacing='0' border='0')
      tbody
      tr
        th(class="thmain" style={color: "black", opacity:"0.9"}) Operative System - INFO
      tr
        td Hostname
        td=hostname
      tr
        td Home Directpry
        td=homedir 
      tr
        td PLatform
        td=platform
      tr
        td Free Memory 
        td=freememory
      tr
        td Total Memory
        td=totalmemory
      tr
        td Release
        td=release
      tr
        th(class="thmain" style={color: "black", opacity:"0.9"}) METADATA SOURCE API - INFO
      tr
        td Reagion-AZ
        td=awsregionkube
      tr
        td Local ipv4
        td=ipv4kubelocal
      tr
        td Public ipv4
        td=ipv4kubepublic
      tr
        td Ami Id
        td=amiidkube
      tr
        td Local hostname
        td=localhostnamekube
      tr
        td Public Hostname
        td=publichostnamekube
      if !haveKubeCreds
        tr
          td AWS IAM Credentials Exposed - Checker
          td(style={background: 'red', opacity:"0.7"}) Security Alert, It can be dangerous to go to Production.
        tr
          td 
          td(style={background: 'Lawngreen'})
            a(href="https://google.com") If want to read more about API and how to block CLICK it here.
      else
        tr
          td AWS IAM Credentials Checker
          td(style={opacity:"0.7"}) Your metadata API is Unreachable/blocked
      tr
        //- SYSTEM INFO
        th(class="thmain" style={color: "black", opacity:"0.9"}) System Resources INFO 
      tr
        td Manufacturer
        td=manufactureri
      tr
        td Brand
        td=brandi
      tr
        td Speed
        td=speedi
      tr
        td MIN Speed 
        td=speedmini
      tr
        td MAX Speed
        td=speedmaxi
      tr
        td PhysicalCore
        td=physicalcoresi
      tr
        td Cores
        td=coresi
      tr
        td Socket
        td=socket
      tr
        //- DOCKER
        th(class="thmain" style={color: "black", opacity:"0.9"}) Docker INFO 
      tr
        td Containers
        td=containersd
      tr
        td Containers Running
        td=containersrund
      tr
        td Containers Stopped
        td=containersstopd
      tr
        td Images
        td=imagesd
      tr
        td Preperating Systemd
        td=pperatingsystemd
      tr
        td Product Licensed
        td=productlicensed
      tr
        td OS Type
        td=ostyped
      tr
        td HTTP Proxy
        td=httpproxyd
      tr
        td HTTPS Proxy
        td=httpsproxyd
      tr
        td Docker Root Directory
        td=dockerrootdird
      tr
        td Docker containers Names
        td
          - var counter=1
          each val in dockerallarraydname
            option=counter + " - " + val
              - counter++
      //- tr
      //-   td Docker containers Images
      //-   td
      //-     - var counter=1
      //-     each val in dockerallarraydimg
      //-       option=counter + " - " + val
      //-         - counter++


