doctype html
head
  title Info Gatherer - Kubernetes
  style.
    table.paleBlueRows {
    font-family: "Times New Roman", Times, serif;
    border: 1px solid #FFFFFF;
    width: 800px;
    height: 200px;
    text-align: center;
    position: relative;
    border-collapse: collapse;
    left: calc(50% - 400px);
    }
    table.paleBlueRows td, table.paleBlueRows th {
    border: 1px solid #FFFFFF;
    padding: 6px 3px;
    }
    table.paleBlueRows tbody td {
    font-size: 13px;
    }
    table.paleBlueRows tr:nth-child(even) {
    background: #D0E4F5;
    }
    table.paleBlueRows thead {
    background: #0B6FA4;
    border-bottom: 5px solid #FFFFFF;
    }
    table.paleBlueRows thead th {
    font-size: 17px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #FFFFFF;
    }
    table.paleBlueRows thead th:first-child {
    border-left: none;
    }
    table.paleBlueRows tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    background: #D0E4F5;
    border-top: 3px solid #444444;
    }
    table.paleBlueRows tfoot td {
    font-size: 14px;
    }
table.paleBlueRows
  thead
    tr
      th OS Specs
      th Values
  tfoot
    tr
      td foot1
      td foot2
  tbody
    tr
      th ---OS---
      th ---OS---
    tr
      td Hostname
      td=hostname
    tr
      td Home Directpry
      td=homedir 
    tr
      td PLatform
      td=platform
    tr
      td Free Memory 
      td=freememory
    tr
      td Total Memory
      td=totalmemory
    tr
      td Release
      td=release
    tr
      th ---Kubernetes Api---
      th ---Kubernetes Api---
    tr
      td Public ipv4
      td=ipv4kubelocal
    tr
      td Public ipv4
      td=ipv4kubepublic
    tr
      td Ami Id
      td=amiidkube
    tr
      td Local hostname
      td=localhostnamekube
    tr
      td Public Hostname
      td=publichostnamekube
    tr
      td Hostname test
      td=hostnamek